<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    <!-- CSS links -->
    <link rel="stylesheet" href="{% static 'statics/style.css' %}">
    <!-- JavaScript Files -->
    <script src="{% static 'statics/script.js' %}" defer></script>
</head>
<body>

    <header>
        <!-- Header content goes here -->
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'rango:index' %}">Home</a></li>
            <li><a href="{% url 'rango:about' %}">About</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        <!-- Main content goes here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>
</html>
